In [19]:
#import dependencies

import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup
import requests
import pymongo

In [20]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [21]:
# Define database and collection
db = client.nasa_db
collection = db.articles

In [22]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [28]:
#URL of page to be scraped
url = 'https://mars.nasa.gov/news/'
browser.visit(url)
html = browser.html

# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(html, 'html.parser')

In [36]:
#NASA Mars News

# Retrieve the parent divs for top article
results = soup.find("div", class_='list_text')
news_title = results.find("div", class_="content_title").text
news_p = results.find("div", class_="article_teaser_body").text

    
print(news_title)
print(news_p)

Mars 2020 Rover: T-Minus One Year and Counting
The launch period for NASA's next rover, Mars 2020, opens exactly one year from today, July 17, 2020, and extends through Aug. 5, 2020.

In [37]:
#URL of page to be scraped
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)
html = browser.html
# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(html, 'html.parser')

In [ ]:
featured_image_url

In [39]:
#Mars Facts #pandas

url = "https://space-facts.com/mars/"

In [40]:
tables = pd.read_html(url)
tables

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [48]:
#convert to dataframe
df = tables[0]
df.columns
df.head()

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days

In [50]:
#convert to html_table
html_table = df.to_html()
html_table
html_table.replace('\n', '')
df.to_html('table.html')

In [53]:
import time
mars_hem_url ="https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(mars_hem_url)
html = browser.html
soup = BeautifulSoup(html, "html.parser")
mars_hempisphere = []

items = soup.find("div", class_="results-list")
hemispheres = items.find("div", class_ = "item")

for hemisphere in hemispheres:
    title= hemisphere.find("h3").text.append(mars_hemisphere)
    
    
m

AttributeError: 'NoneType' object has no attribute 'find'